.stats-box {
	height: 400px;
	width: 350px;
	position: absolute;
	top: 205px;
	right: 20px;
	border: 2px solid grey;
	border-radius: 6px;
	padding: 10px;
	background: #191919;
}

.player-stats {
	text-align: center;
}

@media (max-width: 1250px) {
	.stats-box {
		position: fixed;
		top: initial;
		bottom: 0;
		left: 0;
		right: 0;
		height: initial;
		width: initial;
		border: initial;
		border-radius: initial;
		border-top: 2px solid grey;
		background: #191919;
	}
}

@media (max-width: 600px) {
	.stats-box {
		height: 90px;

	}
	h2 {
		font-size: 13px;
		margin: 0;
	}
	.stats-box ul {
		text-align: center;
		padding-left: 17px
	}
	.stats-box li {
		display: inline;
		padding: 21px;
	}
}
