.stats-box {
	height: 256px;
	width: 350px;
	position: fixed;
	top: 205px;
	right: 20px;
	border: 2px solid grey;
	border-radius: 6px;
	padding: 10px;
}

.player-stats {
	text-align: center;
}

@media (max-width: 1250px) {
	.stats-box {
		right: 20px;
		bottom: 20px;
		left: 20px;
	}
}

